/* The sidebar menu */
.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 160px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
}

/* The navigation menu links */
.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #f1f1f1;
}

/* Style page content */
.main {
    margin-left: 160px; /* Same as the width of the sidebar */
    padding: 0px 10px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

.cim {
    text-align: center;
}

.login {
    text-align: center;
}

#logged {
    color: red;
}

body {
    background-image: url("background.jpg");
    background-size: cover;
    background-color: rgba(255,255,255,0.8);
    background-blend-mode: lighten;
}

.pic {
    max-width: 768px;
    position: relative;
    text-align: center;
    margin: auto;
    margin-bottom: 50px;
}

.styled-table {
    text-align: left;
    overflow-x: scroll;
    margin-right: auto;
    margin-left: auto;
    border-collapse: collapse;
    font-size: 0.9em;
    font-family: sans-serif;
    max-width: 60%;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}

.comment {
    text-align: center;
}

.commentNotLogged {
    text-align: center;
}

.textarea {
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
}

.inputButton {
    background-color: #DE3163;
    border-radius: 10px;
    color: black;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
}

.commentsH2 {
    text-align: center;
}

.commentShow {
    text-align: center;
    border: 1px solid black;
    border-radius: 10px;
    margin-top: 10px;
    margin-left: 37%;
    margin-right: 37%;
    padding: 5px;
    display: flex;
    justify-content: space-between;
}

.author {
    display: inline-block;
    font-size: 10px;
}
.commmentPic {
    display: inline-block;
    float: left;
    text-align: left;
}

@media screen and (max-width: 1024px) {
    .styled-table {
        overflow-x: scroll;
        margin-left: 16.5%;
    }
}